# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++
4. C

### Some of the commonly used libraries used by Data Scientists include:

1.NumPy

2.SciPy

3.BeautifulSoup

4.Scrappy

5.Pandas

#### Data Science Tools

1. Amazon Redshift
2. Microsoft Azure
3. Google BigQuery

### H3:Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [7]:
# Multiplication operation
4*3

12

In [8]:
# Addition operation
12+5

17

## This will convert 200 minutes to hours by diving by 60

In [9]:
# time operation
200/60

3.3333333333333335

## Objectives:

**Python.**

**R.**

**SQL.**

**Java.**

## Author  : MOHAMMAD AL LAHHAM